@use "@/styles/vars" as vars;

.entry {
  display: grid;
  grid-column: full-start / full-end;
  grid-template-columns: subgrid;

  padding: vars.$padding-small 0;

  background-color: var(--bg0);

  @include vars.transition-main;

  &:nth-child(2n) {
    background-color: var(--bg1);
  }

  &:hover {
    background-color: var(--bg-green);
  }
}

.content {
  display: grid;
  grid-column: content-start / content-end;
  grid-template-columns: subgrid;
  align-items: center;

  width: 100%;
  max-width: vars.$max-width-main;
}

.swatch {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.title {
  font-weight: 600;
}

.copyButton {
  display: flex;
  align-items: center;
  gap: vars.$padding-main;
  justify-self: end;
}
