@use "@/styles/vars" as vars;
@use "@/components/styles/NavBar_vars" as navvars;

.root {
  flex: 1;

  display: flex;
  flex-direction: column;

  overflow: clip visible;
}

.controlBar {
  position: sticky;
  top: navvars.$height;
  z-index: 5;

  display: flex;
  justify-content: center;
  background-color: var(--bg-dim);
  border-bottom: vars.$divider-width solid var(--bg2);
}

.controlBarContent {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  width: 100%;
  max-width: vars.$max-width-main;
}

.contrastButtonRow {
  grid-column: 1;
  display: flex;
}

.contrastButton {
  flex: 1 0 0;

  text-align: center;

  padding: vars.$padding-main vars.$padding-large;

  font-weight: 600;
  font-family: var(--font-main);

  border-right: vars.$divider-width solid var(--bg2);

  &.active {
    color: var(--bg-dim);
    background-color: var(--green);
  }
}

.decorationsButton {
  grid-column: 3;

  display: flex;
  align-items: center;
  gap: vars.$padding-small;

  font-family: var(--font-main);

  color: var(--grey1);

  border-left: vars.$divider-width solid var(--bg2);
}

.decorationsButton.enabled {
  color: var(--green);
}

.paletteCarousel {
  position: relative;
  display: flex;

  transition: transform vars.$animation-length vars.$easing-animation;
}

.paletteGroup {
  flex: 0 0 100%;

  display: flex;
  flex-direction: column;
}

@media (max-width: vars.$breakpoint-xsmall) {
  .controlBarContent {
    grid-template-columns: 100%;
  }

  .decorationsButton {
    grid-column: unset;
    border: none;
    border-top: vars.$divider-width solid var(--bg2);
  }

  .contrastButton {
    &:last-child {
      border-right: none;
    }
  }
}
