@use "@/styles/vars" as vars;
@use "@/components/styles/NavBar_vars" as navvars;

$padding: vars.$padding-main;

.root {
  display: flex;
  justify-content: center;

  position: sticky;
  top: navvars.$height;
  z-index: 10;

  background-color: var(--bg-dim);
  border-bottom: vars.$divider-width solid var(--bg2);
}

.content {
  display: flex;
  align-items: center;
  gap: vars.$padding-main;

  width: 100%;
  max-width: vars.$max-width-main;

  padding: 0 vars.$padding-edges;
}

.icon {
  font-size: vars.$fsize-heading-small;
  padding: $padding 0;
}

.input {
  flex: 1;

  font-size: vars.$fsize-med;
  padding: $padding;
  padding-right: 0;
}
