$max-width-main: 900px;

$divider-width: 1.5px;

$padding-xsmall: 3px;
$padding-small: 8px;
$padding-main: 12px;
$padding-med: 18px;
$padding-large: 28px;

$fsize-main: 16px;
$fsize-med: 22px;
$fsize-med-large: 28px;
$fsize-heading-small: 32px;
$fsize-heading: 46px;

$transition-length: 200ms;
$animation-length: 400ms;
$easing-main: ease-out;
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

@mixin transition-main() {
  transition: all $transition-length $easing-main;
  transition-property: background-color, color, border, outline, opacity;
}

