$padding-xsmall: 3px;
$padding-small: 8px;
$padding-main: 12px;
$padding-med: 18px;
$padding-large: 28px;


$fsize-main: 16px;
$fsize-med: 22px;
$fsize-med-large: 28px;
$fsize-heading-small: 32px;
$fsize-heading: 46px;

