$breakpoint-large: 980px;
$breakpoint-med-large: 820px;
$breakpoint-med: 700px;
$breakpoint-small: 600px;

$max-width-main: 1000px;
$max-width-large: 1150px;

$divider-width: 1.5px;

$padding-xsmall: 3px;
$padding-small: 8px;
$padding-main: 12px;
$padding-med-small: 16px;
$padding-med: 18px;
$padding-med-large: 22px;
$padding-large: 28px;

$padding-edges: $padding-med;

$fsize-main: 16px;
$fsize-med-small: 18px;
$fsize-med: 22px;
$fsize-med-large: 26px;
$fsize-large: 32px;
$fsize-heading-small: 38px;
$fsize-heading: 46px;
$fsize-heading-large: 58px;

$transition-length: 200ms;
$animation-length: 400ms;
$easing-transition: ease-out;
$easing-animation: ease-in-out;
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

@mixin transition-main() {
  transition: all $transition-length $easing-transition;
  transition-property: background-color, color, border, outline, opacity;
}
