@use 'global' as *;

.cardWrapper {
  display: flex;
  flex: 1 1 0;  /* grow shrink basis */
  align-items: stretch;
  justify-content: stretch;
  text-decoration: none;
}

.card {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--bg_dim);
  border-radius: 12px;
  padding: $padding-main;
  transition: $main-transition;
}

.cardIcon {
  color: var(--fg);
  font-size: $font-semi-large;
  background-color: var(--bg0);
  border-radius: 12px;
  padding: $padding-small;
  transition: $main-transition;
}

.cardWrapper:hover {
  .card {
    background-color: var(--bg_green)
  }
  .cardIcon {
    background-color: var(--bg1)
  }
}

.cardTitle, .cardDesc {
  color: var(--fg);
  font-family: var(--font-fira-mono);
}

.cardTitle {
  font-size: $font-med;
  font-weight: bold;
  margin: $margin-div-content 0;
}

.cardDesc {
  font-size: $font-main;
  margin: 0;
  padding-bottom: $margin-div-content;
}

.cardLink {
  color: var(--green);
  font-family: var(--font-fira-mono);
  font-size: $font-main;
  font-weight: bold;
  margin: auto 0 0 0;
}

.cardLink:hover {
  text-decoration: underline;
}

