@use 'global' as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg_dim);
  padding: $padding-small;
  flex-shrink: 0;
  margin: $margin-page-sides 0 0 0;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  margin: 0 $margin-main;
}

.copyright {
  color: var(--fg);
  font-family: var(--font-fira-mono);
  font-size: $font-main;
}

