@use "animations";
@import url("https://www.nerdfonts.com/assets/css/webfont.css"); /* Import nerd fonts */


@mixin animation($order: 0) {
  $delay: 0.2s * $order;
  animation: hide $delay+0.01s 1, slidefade 0.7s $delay 1;
}

$mobile-breakpoint: 950px;
$max-width: 1800px;
$nav-height: 70px;
$main-transition: background-color 0.2s ease, color 0.2s ease;

:root {
  --fg: #D3C6AA;
  --red: #E67E80;
  --orange: #E69875;
  --yellow: #DBBC7F;
  --green: #A7C080;
  --blue: #7FBBB3;
  --aqua: #83C092;
  --purple: #D699B6;

  --bg_dim: #1E2326;
  --bg0: #272E33;
  --bg1: #2E383C;
  --bg2: #374145;
  --bg3: #414B50;
  --bg4: #495156;
  --bg5: #4F5B58;
  --bg_red: #4C3743;
  --bg_visual: #493B40;
  --bg_yellow: #45443C;
  --bg_green: #3C4841;
  --bg_blue: #384B55;

  --gray0: #7A8478;
  --gray1: #859289;
  --gray2: #9DA9A0;


  --fgL: #5C6A72;
  --redL: #F85552;
  --orangeL: #F57D26;
  --yellowL: #DFA000;
  --greenL: #8DA101;
  --blueL: #3A94C5;
  --aquaL: #35A77C;
  --purpleL: #DF69BA;

  --bg_dimL: #F2EFDF;
  --bg0L: #FFFBEF;
  --bg1L: #F8F5E4;
  --bg2L: #F2EFDF;
  --bg3L: #EDEADA;
  --bg4L: #E8E5D5;
  --bg5L: #BEC5B2;
  --bg_redL: #FFE7DE;
  --bg_visualL: #F0F2D4;
  --bg_yellowL: #FEF2D5;
  --bg_greenL: #F3F5D9;
  --bg_blueL: #ECF5ED;

  --gray0L: #A6B0A0;
  --gray1L: #939F91;
  --gray2L: #829181;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--bg0);
  transition: $main-transition;
  min-height: 100%;
}

