@use 'global' as *;

$border-left: 5px solid;

.info {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: $padding-small;
  margin-bottom: $margin-main;
  box-sizing: border-box;
  width: 100%;
}

.info {
  &.info {
    background-color: var(--bg_blue);
    border-left: $border-left var(--blue);
  }
  &.warning {
    background-color: var(--bg_yellow);
    border-left: $border-left var(--yellow);
  }
  &.caution {
    background-color: var(--bg_red);
    border-left: $border-left var(--red);
  }
}

.infoTitle {
  color: var(--fg);
  font-family: var(--font-fira-mono);
  font-size: $font-med-small;
  margin: 0 0 $margin-small 0;
}

.infoText {
  color: var(--fg);
  font-family: var(--font-fira-mono);
  font-size: $font-main;
  margin: 0;
}

