@use 'global' as *;

@keyframes slideIn {
  from {
    transform: translateX(100dvw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100dvw);
  }
}

@keyframes dimBg {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0,0,0,0.3);
  }
}

@keyframes unDimBg {
  from {
    background-color: rgba(0,0,0,0.3);
  }
  to {
    background-color: transparent;
  }
}

.navContainer {
  display: flex;
  flex-shrink: 0;
  width: 100dvw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navBar {
  display: flex;
  align-items: stretch;
  background-color: var(--bg_dim);
  height: var(--nav-height);
  width: 100dvw;
  transition: ease 0.2s;
}

.title {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 32px;
  color: var(--green);
  font-family: var(--font-bungee), sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 70px;
}

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--font-fira-mono);
  color: var(--fg);
  font-size: 24px;
  padding: 0 15px;
  margin-right: 10px;
  transition: ease 0.2s;
}

.navLink:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: transparent;
  border-radius: 100px;
  transition: ease 0.2s;
}

.navLink:hover:after {
  background-color: var(--bg3);
}

.navActive {
  color: var(--green);
}

.navActive:after {
  background-color: var(--green);
}

.navActive:hover:after {
  background-color: var(--green);
}

/* Mobile */

.navMobileContainer {
  display: none;  /* Changes to flex for mobile */
  justify-content: center;
  flex-direction: column;
  width: 100dvw;
}

.titleWrapperMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  background-color: var(--bg_dim);
}

.hamburger {
  position: absolute;
  z-index: 3;
  right: 20px;
  font-size: 24px;
  color: var(--fg);
  background-color: transparent;
  border: none;
}

#mobileMenu {
  display: none;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  z-index: 2;
  top: 0;
  transition: 0.7s;
}

#navLinksWrapMobile {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg_dim);
  border-radius: 24px 0 0 24px;
  height: 100%;
  width: 85dvw;
}

#navLinksMobile {
  position: absolute;
  top: var(--nav-height);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85dvw;
}

.navLinkMobile {
  text-decoration: none;
  font-family: var(--font-fira-mono);
  color: var(--fg);
  text-align: center;
  font-size: 30px;
  margin: 10px 40px;
  padding: 10px;
  border-radius: 12px;
}

.navActiveMobile {
  background-color: var(--bg_green);
  color: var(--green)
}

@media (max-width: $mobile-breakpoint) {
  .navMobileContainer {
    display: flex;
  }
  .navBar {
    display: none;
  }
}

