.navContainer {
  display: flex;
  flex-shrink: 0;
  width: 100dvw;
}

.navBar {
  display: flex;
  align-items: stretch;
  background-color: var(--bg_dim);
  height: var(--nav-height);
  width: 100dvw;
  transition: ease 0.2s;
}

.title {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 32px;
  color: var(--green);
  font-family: var(--font-bungee), sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 70px;
}

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--font-fira-mono);
  color: var(--fg);
  font-size: 24px;
  padding: 0 15px;
  margin-right: 10px;
  transition: ease 0.2s;
}

.navLink:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: transparent;
  border-radius: 100px;
  transition: ease 0.2s;
}

.navLink:hover:after {
  background-color: var(--bg3);
}

.navActive {
  color: var(--green);
}

.navActive:after {
  background-color: var(--green);
}

.navActive:hover:after {
  background-color: var(--green);
}

/* Mobile */

.navMobileContainer {
  display: none;  /* Changes to flex for mobile */
  flex-direction: column;
  width: 100dvw;
  background-color: var(--bg_dim)
}

.navBarMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
}

.hamburger {
  margin-right: 20px;
  font-size: 24px;
  color: var(--fg);
  background-color: transparent;
  border: none;
}

#navLinksMobile {
  display: none;
  flex-direction: column;
  border-top: 1px var(--bg0) solid;
}

.navLinkMobile {
  text-decoration: none;
  font-family: var(--font-fira-mono);
  color: var(--fg);
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.navActiveMobile {
  background-color: var(--green);
  color: var(--bg_dim)
}

@media (max-width: 950px) {
  .navMobileContainer {
    display: flex;
  }
  .navBar {
    display: none;
  }
}

