.titleCard {
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg_dim);
  width: calc(100dvw - 40px * 2);  /* 40px margin on sides */
  max-width: var(--max-width);
  margin: 40px 0;
  border-radius: 12px;
  height: 150px;
  transition: ease 0.2s;
  animation: slidefade 1s 1;
}

.titleCardBg {
  display: flex;
  align-items: center;
  --angle: 70px;
  height: 100%;
  width: 75%;
  aspect-ratio: 1;
  clip-path: polygon(0 0,100% 0,calc(100% - var(--angle)) 100%,0 100%);
  background: var(--green);
  border-radius: 12px 0 0 12px;
}

.titleCardText {
  color: var(--bg_dim);
  font-family: var(--font-bungee);
  font-size: 54px;
  margin: 48px;  /* Result of height - font_size / 2 */
  transition: ease 0.2s;
}

