@use "@/styles/vars" as vars;

$padding: vars.$padding-large;
$bg-width: 75%;

.header {
  display: flex;
  background: linear-gradient(90deg, var(--bg-green) 0%, var(--bg-green) $bg-width - 20%, var(--bg-dim) 100%);
  // background-color: var(--bg-dim);
  border-bottom: vars.$divider-width solid var(--bg2);
}

.headerBg {
  $angle: 70px;
  $width: 75%;

  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--green);
  clip-path: polygon(0 0, $width 0, calc($width - $angle) 100%, 0 100%);

  padding: $padding vars.$padding-edges;
}

.content {
  width: 100%;
  max-width: vars.$max-width-main;
  z-index: 1;
}

.title {
  font-weight: 1000;
  font-variation-settings: "wdth" 130, "XTRA" 600;
  color: var(--bg-dim);
}
