@use "@/styles/vars" as vars;

.root {
  display: flex;
  flex-direction: column;

  overflow: clip visible;
}

.contrastPicker {
  position: sticky;
  bottom: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  background-color: var(--bg-dim);
  border-top: vars.$divider-width solid var(--bg2);
}

.contrastPickerContent {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: vars.$max-width-main;
}

.contrastBtn {
  width: 100%;
  text-align: center;

  &.active {
    color: var(--bg-dim);
    background-color: var(--green);
  }

  &:not(:last-child) {
    border-right: vars.$divider-width solid var(--bg2);
  }
}


.paletteCarousel {
  position: relative;
  display: flex;

  transition: transform vars.$animation-length vars.$easing-animation;
}

.heading {
  display: flex;
  justify-content: center;

  background-color: var(--bg-dim);
  padding: vars.$padding-med;
}

.headingContent {
  display: flex;
  align-items: center;
  gap: vars.$padding-med;

  width: 100%;
  max-width: vars.$max-width-main;
}

.headingDropBtn, .headingDropBtn:hover {
  all: unset;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotate(0deg);

  transition-duration: vars.$animation-length;
  transition-timing-function: vars.$ease-out-back;
  transition-property: transform;
}

.headingDropBtn.collapsed {
  transform: rotate(180deg);
}

.palette, .paletteColors {
  display: flex;
  flex-direction: column;
}

.paletteGroup {
  flex: 0 0 100%;

  display: flex;
  flex-direction: column;
}

.paletteColors {
  &.collapsed {
    display: none;
  }
}

.palette:not(:last-child) {
  border-bottom: vars.$divider-width solid var(--bg2);
}

.color {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: vars.$padding-main;

  background-color: var(--bg0);

  &:nth-child(2n) {
    background-color: var(--bg1);
  }
}

.colorContent {
  display: flex;
  align-items: center;
  gap: vars.$padding-small;

  width: 100%;
  max-width: vars.$max-width-main;
}

.swatch {
  width: 16px;
  height: 16px;
}

.copyBtn {
  display: flex;
  align-items: center;
  gap: vars.$padding-main;

  font-family: var(--font-mono);
  margin-left: auto;
}

