@use 'global/global' as *;

.homeContent {
  align-self: center;
  justify-content: space-between;
  display: flex;
  width: calc(100% - 40px * 2);  /* 40px margin on either side since margin property doesn't work */
  height: calc(100dvh - var(--nav-height));
  max-width: var(--max-width);
}

.homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 45%;
}

.homeTitle, .homeDesc {
  color: var(--fg);
}

.homeTitle {
  font-family: var(--font-bungee);
  font-size: 50px;
  font-weight: bold;
  @include animation;
}

.homeDesc {
  font-family: var(--font-fira-mono);
  font-weight: normal;
  font-size: 20px;
  @include animation(1);
}

.homeImageWrapper {
  flex-grow: 1;
  position: relative;
  max-width: 45%;
  @include animation(2);
}

.homeImage {
  object-fit: contain;  /* Retain aspect ratio */
}

.homeCards {
  display: flex;
  gap: 40px;
  align-self: center;
  align-items: stretch;
  justify-content: stretch;
  width: calc(100% - 40px * 2);  /* 40px margin on either side since margin property doesn't work */
  max-width: var(--max-width);
  margin: 40px 0;
  @include animation(3);
}

/* Mobile support */
@media (max-width: $mobile-breakpoint) {
  .homeContent {
    height: 70dvh;
  }

  .homeText {
    max-width: 100%;
    text-align: center;
  }

  .homeTitle {
    font-size: 9dvw;
  }

  .homeDesc {
    font-size: 3.5dvw;
  }

  .homeImageWrapper {
    display: none;
    width: 0;
    height: 0;
  }

  .homeCards {
    flex-direction: column;
    @include animation(2);
  }
}

