.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 70px); /* 70px is navbar height */
  align-self: center;
  color: var(--fg);
  font-family: var(--font-bungee);
  text-align: center;
}

.errCode {
  font-size: 100px;
  font-weight: normal;
  margin: 0;
}

.notFoundTitle {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  border-top: 2px solid var(--bg5);
  padding: 15px 60px;
}

