@use 'global/global' as *;

.contrastSwitcher {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: calc(100% - $margin-page-sides * 2);
  max-width: $max-width;
  @include animation(1);
}

.contrastButton {
  background-color: var(--bg1);
  border: none;
  color: var(--fg);
  font-size: 24px;
  font-family: var(--font-fira-mono), sans-serif;
  padding: 10px;
  cursor: pointer;
  transition: $main-transition;
  width: 100%;
}

.contrastButton:hover {
  background-color: var(--bg3);
}

.contrastActive {
  background-color: var(--green);
  color: var(--bg0);
}

.contrastActive:hover {
  background-color: var(--green);
}

#contrastHard {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid var(--bg3);
}

#contrastMed {
  border-left: 1px solid var(--bg3);
  border-right: 1px solid var(--bg3);
}

#contrastSoft {
  border-radius: 0 12px 12px 0;
  border-left: 1px solid var(--bg3);
}

.palette {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
  background-color: var(--bg1);
  border-radius: 12px;
  width: calc(100dvw - $margin-page-sides * 2);  /* Margin on sides */
  max-width: $max-width;
  margin: $margin-main 0;
  padding: ($margin-main - 10px) 0;
  transition: $main-transition;
  @include animation(2);
}

.color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 $margin-main;
  border-bottom: 1.5px solid var(--bg3);
  transition: $main-transition;
}

.colorTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--fg);
  font-size: 19px;
  font-family: var(--font-fira-mono), sans-serif;
  margin: 0;
}

.swatch {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border: 1.5px solid var(--bg3);
  margin: 0 10px 0 0;
  transition: $main-transition;
}

.copyButton {
  margin: 0;
  background-color: var(--bg0);
  color: var(--fg);
  font-family: var(--font-fira-mono), sans-serif;
  font-size: 19px;
  padding: 8px $padding-small;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: $main-transition;
}

.copyButton:hover {
  background-color: var(--bg3);
}

.nf-fa-copy {
  margin-right: 4px;
}

/* Mobile */

@media (max-width: $mobile-breakpoint) {
  .color {
    flex-direction: column;
    align-items: stretch;
    padding: $padding-small 0;
  }

  .colorTitle {
    margin: 0 0 $margin-div-content 0;
  }
}

