@use 'global/global' as *;

.tmp {
  flex-grow: 1;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fg);
  text-align: center;
  font-family: var(--font-fira-mono);
  font-size: 40px;
  animation: hide 0.31s 1, slidefade 1s 0.3s 1;
  width: calc(100dvw - 80px);
}
