@use 'global/global' as *;

$cardsGap: 20px;

.portsContent {
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.portsCardWrapper {
  min-width: 340px;
  max-width: calc(50% - ($cardsGap / 2))
}

.portsCards {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: $cardsGap;
  width: calc(100dvw - 80px);
  max-width: $max-width;
  @include animation(1);
}

