@use 'global/global' as *;

.portsInfo {
  width: 100%;
  @include animation(1);
}

.searchContainer {
  display: flex;
  align-items: center;
  color: var(--fg);
  font-size: 18px;
  background-color: var(--bg_dim);
  width: 100%;
  border-radius: 12px;
  margin-bottom: $margin-main;
  outline: 3px solid transparent;
  transition: $main-transition;
  @include animation(1);
}


.searchIcon {
  padding: $padding-small 0 $padding-small $padding-small;
}

#searchbar {
  flex-grow: 1;
  color: var(--fg);
  font-size: 18px;
  font-family: var(--font-fira-mono);
  background-color: transparent;
  padding: $padding-small;
  border: none;
}

#searchbar:focus {
  border: none;
  outline: none;
}

.searchContainer:has(#searchbar:focus) {
  /* Style .searchContainer when #searchbar is focused */
  outline: 3px solid var(--green);
}

.portsContent {
  flex-grow: 1;
  align-self: center;
  display: flex;
  align-items: center;
  width: calc(100dvw - 80px);
  max-width: $max-width;
  display: flex;
  flex-direction: column;
}

.portsCardWrapper {
  min-width: 340px;
  max-width: calc(50% - ($margin-main / 2))
}

.portsCards {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: $margin-main;
  width: 100%;
  @include animation(2);
}

@media (max-width: $mobile-breakpoint) {
  .portsCardWrapper {
    width: 100%;
    max-width: none;
  }
}

